<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css">
    <title>Julia Kaptelova photography</title>
</head>
<body>
<div class="container">
    <header class="site-header">
        <div class="row">
            <a href="#" class="logo"><img src="../img/assets/logo.jpg" alt="logo"></a>
            <ul class="site-nav">
                <li><a href="#">Gallery</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="header-img">
            </div>
        </div>
    </header>
    <main class="site-main">
        <!--article-->
        <div class="row">
            <article class="main-article col-md-9">
                <header class="main-article-header">
                    <h1 class="main-article-header-h1">ANNA & SEMEN, RHODES</h1>

                    <h3 class="main-article-header-h3">CATEGORY: WEDDINGS</h3>
                </header>
                <section class="main-article-content">
                    <p class="main-article-content-p">Эта потрясающая поездка навсегда останется у меня в памяти, хотя и было немало негативных моментов, которые, к счастью, стираются из памяти, оставляя место лишь хорошим воспоминаняим.</p>
                </section>
                <footer class="main-article-footer">
                    <ul class="social-icon">
                        <li class="fb-like">fb</li>
                        <li class="share">share</li>
                        <li class="comment-btn">in</li>
                    </ul>
                    <div class="decor"></div>
                    <hr>
                </footer>
            </article>

            <section class="right-bar col-md-3">
                <div class="right-bar-categories">
                    <p>WEDDINGS</p>

                    <p>ENGAGEMENTS</p>

                    <p>PORTRAITS</p>

                    <p>BOUDOIR</p>

                    <p>TRAVEL</p>

                    <p>PUBLIKATIONS</p>

                    <p>ALL POSTS</p>
                </div>
                <div class="right-bar-social-links">
                    <ul>
                        <li><img src="" alt="in"></li>
                        <li><img src="" alt="fb"></li>
                        <li><img src="" alt="vk"></li>
                    </ul>
                </div>
                <div class="right-bar-in"></div>
                <div class="right-bar-personal-in"></div>
                <div class="right-bar-contact"></div>
                <div class="right-bar-search"></div>
            </section>
        </div>
        <!--archive-->
        <div class="row">
            <section class="archive">
                <header class="also-like-header">
                    <h1 class="also-like-header-h1"></h1>
                </header>
                <div class="also-like-content">
                </div>
                <nav class="archive">
                    <div class="newer-btn"></div>
                    <div class="older-btn"></div>
                </nav>
            </section>
        </div>
        <!--comments-->
        <div class="row">
            <section class="comments">
            </section>
        </div>
    </main>
    <!--footer-->
    <div class="row">
        <footer class="site-footer">
            <div class="container">
                <div class="sign">JULIA KAPTELOVA PHOTOGRAPHY, 2015, ALL RIGHT RESERVED</div>
                <ul class="footer-social-icon">
                    <li class="fb-icon"></li>
                    <li class="vk-icon"></li>
                    <li class="in-icon"></li>
                </ul>
            </div>
        </footer>
    </div>
</div>

<script src="js/main.js"></script>

</body>
</html>