@font-face {
  font-family: 'Montserrat-regular';
  src: url('../fonts/montserrat-regular.otf');
  font-family: 'Montserrat-bold';
  src: url('../fonts/montserrat-bold.otf');
  font-family: 'Montserrat-light';
  src: url('../fonts/montserrat-light.otf');
}

$font-mon-r: "Montserrat-regular", Helvetica, Sans-Serif;
$font-mon-b: "Montserrat-bold", Helvetica, Sans-Serif;
$font-mon-l: "Montserrat-light", Helvetica, Sans-Serif;

$font-serrif-main: "Book Antiqua", Georgia, Serif;
$font-serrif-sec: "Georgia", Book Antiqua, Serif;

$gold-color: #BFAD9F;
$text-color: #9A9A9A;

html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $text-color;
  padding-top: 80px;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: $text-color;
}

a:hover, a:focus {
  text-decoration: none;
  color: darken($text-color, 25%);
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-family: $font-serrif-main;
  font-size: 1.3em;
}

p, pre {
  font-family: $font-serrif-sec;
}

.container {
  max-width: 1024px;
}

//////////////////////////////////////site-header
.site-header {
  min-height: 64px;
}

.logo > img {
  width: 415px;
  float: left;
}

.site-nav {
  list-style: none;
  float: right;
  margin-top: 40px;
}

.site-nav > li {
  display: inline-block;
  vertical-align: top;
}

.site-nav > li > a {
  display: block;
  font-family: $font-mon-r;
  padding: 10px 20px 0 20px;
  text-transform: uppercase;
  font-size: .9em;
}

.header-img {
  margin-top: 1em;
  border-top: 1px solid #ededed;
  height: 72px;
  width: 100%;
  background: url("../img/assets/h-shadow.png") no-repeat 100% 0;
}

//////////////////////////////////////site main
.main-article {
  padding: 0 45px;
}

.main-article-header {
  text-align: center;
}

.main-article-header-h1 {
  font-weight: 500;
}

.main-article-header-h3 {
  margin-top: .4em;
  font-size: 0.9em;
  font-weight: 400;
  color: $gold-color;
}

.main-article-content-p {
  margin-top: 1.5em;
  line-height: 1;
  font-size: .95em;
  word-wrap: break-word;
  text-align: justify;
}

.main-article-content-img {
  display: inline-block;
  max-width: 50%;
  font-size: 0;
}

.main-article-content-img:nth-child(odd) {
  margin-left: -4px;
}

.main-article-footer {
  padding-top: 15px;
  font-size: .9em;
}

.main-article-social-icon {
  float: left;
}

.main-article-social-icon > li {
  display: inline-block;
  padding-left: 3px;
  vertical-align: bottom;
}

.fb-like {
  display: block;
  background: url("../img/assets/fb-like.png") no-repeat;
  width: 100px;
  height: 20px;
}

.clearfix {
  margin-top: 35px;
  clear: both;
}

.main-article-liveacomment {
  float: right;
  margin-top: 4px;
}

////////////////////////////////////side-bar
.right-bar {
  text-align: center;
  padding: 0;
}

.right-bar-cat-name {
  line-height: 2;
}

.right-bar-cat-name a {
  display: block;

}

.right-bar-fol {
  margin-top: 30px;
}

.right-bar-social-links > li {
  display: inline-block;
}

.photo-instagram {
  margin-top: 30px;
}

.photo-per-instagram {
  margin-top: 30px;
}
.photo-per-instagram::before {

}

//////////////////////////////////////footer
.site-footer {

}

@media (max-width: 767px) {
  body {
    padding-top: 20px;
  }
  //header
  .site-header > .row {
    text-align: center;
  }
  .logo > img {
    width: 320px;
    margin: 25px auto 0 auto;
    float: none;
  }
  .site-nav {
    float: none;
  }
}

@media (max-width: 400px) {
  .main-article-liveacomment {
    float: left;
    clear: both;
    line-height: 4;
  }
}

//////////////////////////////////////sprites
.top-hower,
.top,
.arrow-right,
.arrow-left,
.pi-mouse-down,
.pi-normal,
.posts,
.also,
.leaf,
.envelop,
.blog,
.elem-1,
.follow-me,
.search,
.Categories,
.facebook-mouse-down,
.facebook-normal,
.instagram-mouse-down,
.instagram-normal,
.vk-mouse-down,
.vk-normal {
  background: url("../img/assets/sprites.png") no-repeat;
  display: block;
}

.top-hower {
  background-position: -324px -109px;
  width: 63px;
  height: 33px;
}

.top {
  background-position: -226px -110px;
  width: 63px;
  height: 33px;
}

.arrow-right {
  background-position: -369px -71px;
  width: 9px;
  height: 7px;
}

.arrow-left {
  background-position: -319px -71px;
  width: 9px;
  height: 7px;
}

.pi-normal:hover,
.pi-normal:focus {
  background-position: -365px -13px;
  width: 25px;
  height: 23px;
}

.pi-normal {
  background-position: -313px -13px;
  width: 25px;
  height: 23px;
}

.posts {
  background-position: -277px -156px;
  width: 107px;
  height: 39px;
}

.also {
  background-position: -170px -156px;
  width: 77px;
  height: 32px;
}

.leaf {
  background-position: -221px -55px;
  width: 55px;
  height: 36px;
}

.envelop {
  background-position: -212px -215px;
  width: 26px;
  height: 20px;
}

.blog {
  background-position: -114px -206px;
  width: 76px;
  height: 39px;
}

.elem-1 {
  background-position: -11px -205px;
  width: 82px;
  height: 39px;
}

.follow-me {
  background-position: -29px -96px;
  width: 185px;
  height: 61px;
  margin: 0 auto;
}

.search {
  background-position: -26px -160px;
  width: 108px;
  height: 23px;
}

.Categories {
  background-position: -19px -46px;
  width: 170px;
  height: 54px;
  margin: 0 auto;
}

.facebook-normal:hover,
.facebook-normal:focus, {
  background-position: -260px -14px;
  width: 25px;
  height: 23px;
}

.facebook-normal {
  background-position: -212px -13px;
  width: 25px;
  height: 23px;
}

.instagram-normal:hover,
.instagram-normal:focus {
  background-position: -162px -13px;
  width: 25px;
  height: 23px;
}

.instagram-normal {
  background-position: -112px -13px;
  width: 25px;
  height: 23px;
}

.vk-normal:hover,
.vk-normal:focus {
  background-position: -62px -13px;
  width: 25px;
  height: 23px;
}

.vk-normal {
  background-position: -12px -13px;
  width: 25px;
  height: 23px;
}
