.top-hower, .top, .arrow-right, .arrow-left, .pi-mouse-down, .pi-normal, .posts, .also, .leaf, .envelop, ., .blog, .elem-1, .follow-me, .search, .Categories, .facebook-mouse-down, .facebook-normal, .instagram-mouse-down, .instagram-normal, .vk-mouse-down, .vk-normal{
	background: url(sprites.png) no-repeat;
}

.top-hower{
	background-position: -324px -109px ;
	width: 63px;
	height: 33px;
}

.top{
	background-position: -226px -110px ;
	width: 63px;
	height: 33px;
}

.arrow-right{
	background-position: -369px -71px ;
	width: 9px;
	height: 7px;
}

.arrow-left{
	background-position: -319px -71px ;
	width: 9px;
	height: 7px;
}

.pi-mouse-down{
	background-position: -365px -15px ;
	width: 20px;
	height: 20px;
}

.pi-normal{
	background-position: -313px -15px ;
	width: 20px;
	height: 20px;
}

.posts{
	background-position: -277px -156px ;
	width: 107px;
	height: 39px;
}

.also{
	background-position: -170px -156px ;
	width: 77px;
	height: 32px;
}

.leaf{
	background-position: -221px -55px ;
	width: 55px;
	height: 36px;
}

.envelop{
	background-position: -212px -215px ;
	width: 26px;
	height: 20px;
}

.{
	background-position: -313px -143px ;
	width: 0px;
	height: 0px;
}

.blog{
	background-position: -114px -206px ;
	width: 76px;
	height: 39px;
}

.elem-1{
	background-position: -11px -205px ;
	width: 82px;
	height: 39px;
}

.follow-me{
	background-position: -18px -95px ;
	width: 178px;
	height: 61px;
}

.search{
	background-position: -26px -160px ;
	width: 108px;
	height: 23px;
}

.Categories{
	background-position: -19px -46px ;
	width: 170px;
	height: 54px;
}

.facebook-mouse-down{
	background-position: -260px -14px ;
	width: 25px;
	height: 25px;
}

.facebook-normal{
	background-position: -212px -13px ;
	width: 25px;
	height: 25px;
}

.instagram-mouse-down{
	background-position: -162px -13px ;
	width: 25px;
	height: 25px;
}

.instagram-normal{
	background-position: -112px -13px ;
	width: 25px;
	height: 25px;
}

.vk-mouse-down{
	background-position: -62px -13px ;
	width: 25px;
	height: 25px;
}

.vk-normal{
	background-position: -12px -13px ;
	width: 25px;
	height: 25px;
}

